.App {
  font-family: sans-serif;
  text-align: center;
}

.search-input {
  width: 500px;
  padding: 5px;
}

.results-container {
  width: 500px;
  padding: 5px;
  margin: auto;
  border: 1px solid black;
  max-height: 500px;
  overflow-y: scroll;
}

.result{
  display: block;
  text-align: left;
  padding: 4px;
}

.result:hover{
  cursor: pointer;
  background-color: lightgoldenrodyellow;
  color: black;
  width: 100%;
}